<template>
	<table if.bind="is_connected">
		<tr>
			<td style="text-align:center">
				<connect-bar></connect-bar>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
				<sheader-bar></sheader-bar>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
				<work-bar></work-bar>
			</td>
		</tr>
		<tr if.bind="hasItems">
			<td>
				<pagination-bar></pagination-bar>
			</td>
		</tr>
		<tr>
			<td>
				<table id="link-table">
					<tr>
						<th></th>
						<th>Nom de famille</th>
						<th>Prénom(s)</th>
						<th>Groupe</th>
						<th>Abs.</th>
						<th>Ret.</th>
						<th>Autres</th>
						<th>Observations</th>
					</tr>
					<tr repeat.for="note of items">
						<td>
							<div if.bind="note.has_url">
								<img src.bind="note.url" height="32"></img>
							</div>
						</td>
						<td>
							<a route-href="route: etud; params.bind: { id: note.etudiantid }">${note.lastname}</a>
						</td>
						<td>${note.firstname}</td>
						<td>${note.groupeName}</td>
						<td>${note.absenceString}</td>
						<td>${note.retardString}</td>
						<td>${note.miscString}</td>
						<td>
							<ul>
								<li repeat.for="r of note.descriptions">${r}</li>
							</ul>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</template>