<template>
	<table if.bind="is_connected">
		<tr>
			<td style="text-align:center">
				<connect-bar></connect-bar>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
				<sheader-bar></sheader-bar>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
				<depart-bar></depart-bar>
			</td>
		</tr>
		<tr if.bind="isEditable">
			<td style="text-align:center">
				<import-bar></import-bar>
			</td>
		</tr>
		<tr if.bind="canShowForm">
			<td style="vertical-align:top">
				<elements-bar></elements-bar>
			</td>
			<td>&nbsp;&nbsp;</td>
			<td style="vertical-align:top">
				<form role="form">
					<avatar-bar></avatar-bar>
					<person-bar></person-bar>
					<command-bar></command-bar>
				</form>
			</td>
		</tr>
	</table>
</template>