<template>
	<table if.bind="isEditItem">
		<tr>
			<td style="text-align:center" if.bind="hasAvatarUrl">
				<img src.bind="avatarUrl" height="128"></img>
				<a class="btn btn-danger" show.bind="canRemoveAvatar" click.delegate="removeAvatar()" href="#">
					<i class="fa fa-remove fa-fw"></i>Supprimer
				</a>
			</td>
			<td style="text-align:center" if.bind="isEditable">
				<i class="fa fa-user fa-fw"></i>
				<input type="file" id="fileToUpload" accept="image/png, image/jpeg" change.delegate="avatarFileChanged($event)"></input>
			</td>
			<td style="text-align:center" if.bind="hasWorkingUrl">
				<img src.bind="workingUrl" height="128"></img>
				<a class="btn btn-primary" click.delegate="saveAvatar()" href="#" show.bind="canSaveAvatar">
					<i class="fa fa-save fa-fw"></i>Modifier
				</a>
			</td>
		</tr>
	</table>
</template>