<template>
	<div class="form-group">
		<label class="form-label" for="startDate">Date de début</label>
		<input class="form-control" type="date" id="startDate" value.bind="startDate" disabled.bind="isReadOnly" min.bind="minDate"
		max.bind="maxDate" readonly.bind="isReadOnly"></input>
	</div>
	<div class="form-group">
		<label class="form-label" for="endDate">Date de fin</label>
		<input class="form-control" type="date" id="endDate" value.bind="endDate" min.bind="minDate" max.bind="maxDate" disabled.bind="isReadOnly"
		readonly.bind="isReadOnly"></input>
	</div>
</template>